#black_fill{
    background-color: black;
    color: white;
}

#red_fill{
    background-color: red;
}

#red_outline{
    border: 5px red solid;
}

#orange_fill{
    background-color: orange;
}

#yellow_fill{
    background-color: yellow;
}

#green_fill{
    background-color: green;
}

#blue_fill{
    background-color: blue;
}