table{
    text-align: center;
}

#black_fill{
    background-color: black;
    color: white;
}

#red_fill{
    background-color: red;
}

#red_outline{
    border: 3px red solid;
}

#orange_fill{
    background-color: orange;
}

#yellow_fill{
    background-color: yellow;
}

#green_fill{
    background-color: green;
}

#blue_fill{
    background-color: blue;
}

#calendar{
    margin-left: auto;
    margin-right: auto;
}

h1, h4, p, #logout{
    text-align: center;
}

#second_tbl{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}