#red_fill{
    background: red;
}

#orange_fill{
    background-color: orange;
}

#yellow_fill{
    background-color: yellow;
}

#green_fill{
    background-color: green;
}

#blue_fill{
    background-color: blue;
}