.skills{
    display: flex;
    place-content: center;

}
.skills ul{
    /* padding-bottom: 0px; */
    margin: 0px;
}
.skills1{
    display: inline-block;
    width: 250px;
    place-content: center;
    height: fit-content;
}
.skills li{
    padding-bottom: 5px;
    font-size:medium;
}

table{
    text-align: center;
}