h4, h3{
  text-align: center;
}

#roundabout{
  width: 1000px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
}

footer{
    display: flex;
    place-content: center;
    align-content: center;
}

p{
    text-align: center;
    max-width: 267px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    place-content: center;
    align-content: center;
}

#navbarText{
    justify-content: right;
}

#leftNav, #navbarText{
    margin: auto;
}

#navbar{
    height: 50px;
    background-color: red;
    padding-right: 20px;
    padding-bottom: 20px;
}

.navbar-brand{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

li{
    padding-right: 10px;
}

.float-start{
    padding: 10px 0 0 20px;
}