#container{
    min-height: 1000px;
}

.navbar-brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

li{
    padding-right: 10px;
}

.float-start{
    padding: 10px 0 0 20px;
}

#navbar-example2{
    background-color: gray;
}
  
.navbar-custom .navbar-text{
    color: rgb(13 110 219);
}

#navbarText{
    justify-content: right;
}

#leftNav, #navbarText{
    margin: auto;
}

span a{
    padding-right: 10px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

h2, p{
    text-align: center;
}

#pic_temps{
    display: flex;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.temp_one_two, .temp_three_four, .temp_five_six{
    display: flex;
    place-content: center;
    width: 450px;
    height: fit-content;
}

footer{
    display: flex;
    place-content: center;
    align-content: center;
}